{% extends "page.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block pageContent %}
  <form method="post" action="/">
    {{ govukInput({
      label: {
        text: "Full name"
      },
      id: "name",
      name: "name",
      errorMessage: errorMessage
    }) }}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>
{% endblock %}
