{% extends "page.njk" %}
{% from "table/macro.njk" import govukTable %}

{% block pageContent %}
  {{ govukTable({
    caption: "Confirm details",
    firstCellIsHeader: true,
    head: [
      {
        text: "Field"
      },
      {
        text: "Value"
      }
    ],
    rows: [
      [
        {
          text: "First name"
        },
        {
          text: applicant.firstName
        }
      ],
      [
        {
          text: "Second name"
        },
        {
          text: applicant.secondName
        }
      ],
      [
        {
          text: "Email address"
        },
        {
          text: applicant.email
        }
      ]
    ]
  }) }}
{% endblock %}
