{% extends "page.njk" %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block pageContent %}
  <p class="govuk-body">This is the start of the application.</p>

  {{ govukButton({
    text: "Start now",
    href: "/name",
    classes: "govuk-button--start"
  }) }}
{% endblock %}
